@import "~sass-rem";

.servicespage3_parentContainer {
  padding: 0 rem(25px);

  .servicespage3_gridContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: rem(200px) auto;
    gap: 120px;

    .servicespage3_leftContainer {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 120px;
      width: 100%;
      flex-wrap: wrap;
      .servicespage3_titleDiv {
        background: linear-gradient(92.15deg, #6164fa 0%, #2cd7e6 100%);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
        letter-spacing: 0.04em;
        font-weight: 700;
        font-size: rem(58px);
        line-height: 1.2em;
      }
    }
    .servicespage3_rightContainer {
      align-items: flex-start;
      background-repeat: no-repeat;
      background-size: contain;
      width: 100%;
      .servicespage3_listContainer {
        width: 100%;
        .servicespage3_boxContainer {
          border: 1px solid var(--gray-300);
          padding: rem(32px);
          background: var(--black-100);
          display: flex;
          align-items: flex-start;
          gap: 32px;
          flex-wrap: wrap;
          width: 93%;
          cursor: pointer;
          height: inherit;
          margin: rem(20px) auto;
          transition: all 0.3s ease-in-out;
          .servicespage3_iconPurple {
            display: none;
          }
          .servicespage3_boxText {
            font-size: rem(28px);
            color: var(--white);
            font-weight: 500;
            line-height: 48px;
            min-width: 180px;
          }
          .servicespage3_boxPara {
            font-size: rem(18px);
            color: var(--off-gray);
            margin-top: rem(4px);
            font-weight: 400;
            line-height: 30px;
            min-width: 180px;
            flex: 1;
            max-width: 485px;
            margin-left: auto;
          }
          &:hover {
            background-color: var(--dark-gray-100);
            border-width: 0 1px 1px 0;
            border-color: var(--dark-gray-100);
            border-style: solid;
            .servicespage3_iconPurple {
              display: block;
            }
            .servicespage3_iconWhite {
              display: none;
            }
            .servicepage3_Icon {
              path {
                stroke: var(--primary-100);
              }
            }
          }
        }
        .servicespage3_count {
          color: var(--off-gray);
          font-size: rem(18px);
        }
        .servicespage3_options {
          .servicespage3_line {
            border-color: var(--primary-100);
            border-width: 3px;
          }
          .servicespage3_optionsList {
            color: var(--white);
            font-size: rem(40px);
            font-weight: 500;
            line-height: 58px;
          }
        }
      }
    }
  }
}

.lineUp {
  animation: 2.5s anim-lineUp ease-out 1;
}

@media only screen and (max-width: 966px) {
  .servicespage3_parentContainer {
    padding: rem(25px) !important;
    .servicespage3_gridContainer {
      display: flex !important;
      flex-direction: column;
      gap: 50px;
      .servicespage3_leftContainer {
        width: 100%;
        .servicespage3_titleDiv {
          text-align: center;
        }
        .buttonContainer {
          justify-content: center;
        }
      }
      .servicespage3_rightContainer {
        .servicespage3_listContainer {
          .servicespage3_boxContainer {
            flex-direction: column;
            .servicespage3_boxPara{
              margin: 0;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .servicespage3_parentContainer {
    .servicespage3_gridContainer {
      margin-top: rem(80px);
      .servicespage3_leftContainer {
        .servicespage3_titleDiv {
          font-size: rem(42px);
        }
      }

      .servicespage3_rightContainer {
        background-position-y: center;
        padding: rem(20px) 0px;
        .servicespage3_listContainer {
          .servicespage3_options {
            .servicespage3_optionsList {
              font-size: rem(20px);
              line-height: 24px;
            }
          }
        }
      }
    }
  }
}

@keyframes anim-lineUp {
  0% {
    opacity: 0;
    transform: translateY(80%);
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes slide-right {
  to {
    transform: translateX(0);
  }
}
