@import "~sass-rem";

.servicespage1_parentContainer {
  padding: 0 rem(25px) rem(60px) rem(25px);
  margin-bottom: rem(120px);

  .servicespage1_gridContainer {
    .servicespage1_titleDiv {
      color: var(--off-white-100);
      letter-spacing: 0.04em;
      font-weight: 700;
      font-size: rem(62px);
      margin-top: rem(30px);
      grid-column: 1 / span 7;
      line-height: 1.2em;
      grid-row: 1;
      margin-top: rem(90px);
      margin-bottom: rem(52px);
      .servicespage1_ideasDiv {
        color: var(--primary-100);
      }
    }
    .servicespage1_grid{
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-template-rows: repeat(1, 1fr);
      color: var(--off-white-100);
      position: relative;
      margin-top: rem(120px);
      gap: 0;
      .servicespage1_ctaButton {
        padding: 0px rem(29px) 0px rem(30px);
        border-radius: 96px;
        background: var(--primary-100);
        color: var(--white);
        font-size: rem(16px);
        width: rem(120px);
        height: rem(120px);
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        position: absolute;
        top: -117px;
        right: 12px;
      }
      .servicespage1_boxContainer {
        padding: rem(44px);
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        gap: 32px;
        cursor: pointer;
        transition: 0.6s all ease;
        margin-top: rem(-60px);
        &:hover {
          background-color: var(--dark-gray-100);
        }
        .servicepage1_boxTitle {
          color: var(--white);
          font-size: rem(48px);
          font-weight: 500;
          line-height: 58px;
        }
        .servicepage1_boxPara {
          color: var(--off-gray);
          font-size: rem(18px);
          font-weight: 400;
          line-height: 27px;
        }
      }
      .servicespage1_item1 {
        grid-column: 1 / span 4;
        grid-row: 2;
        border-top: 1px solid var(--gray-100);
        border-left: 1px solid var(--gray-100);
        border-right: 1px solid var(--gray-100);
        &:hover {
          padding: rem(40px) rem(44px) rem(44px) rem(44px);
        }
      }
      .servicespage1_item2 {
        grid-column: 5 / 9;
        grid-row: 2;
        border-top: 1px solid var(--gray-100);
        &:hover {
          padding: rem(12px) rem(44px) rem(44px) rem(44px);
        }
      }
      .servicespage1_gridBorder {
        border-bottom: 1px solid var(--gray-100);
      }
      .servicespage1_item3 {
        grid-column: 9 / span 12;
        grid-row: 2;
        border-left: 1px solid var(--gray-100);
        border-top: 1px solid var(--gray-100);
        border-right: 1px solid var(--gray-100);
        &:hover {
          padding: rem(12px) rem(44px) rem(44px) rem(44px);
        }
      }
      .servicespage1_item4 {
        grid-column: 1 / span 12;
        border: 1px solid var(--gray-100);
        grid-row: 3;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        height: fit-content;
        padding: rem(23px);
        flex-wrap: wrap;
        gap: 16px 24px;
      }
      .servicespage1_optionTypes {
        border-radius: 6px;
        border: 1px solid var(--gray-100);
        padding: rem(12px) rem(16px);
        text-transform: uppercase;
        font-size: rem(16px);
        color: var(--off-white);
      }
    }
  }
}

.lineUp {
  animation: 2.5s anim-lineUp ease-out 1;
}

@media only screen and (max-width: 966px) {
  .servicespage1_parentContainer {
    padding: rem(25px) !important;
    .servicespage1_gridContainer {
      .servicespage1_grid {
        display: flex !important;
        flex-direction: column;
        gap: 50px;
        margin-top: rem(120px);
        .servicespage1_boxContainer {
          padding: rem(30px) rem(25px) !important;
          &.servicespage1_item1 {
            border-bottom: none;
          }
          
          &.servicespage1_item2 {
            border-bottom: none;
            border-left: 1px solid var(--gray-100);
            border-right: 1px solid var(--gray-100);
          }
          &.servicespage1_item3 {
            border-bottom: 1px solid var(--gray-100);
          }
          
        }
        .servicespage1_item4 {
          margin-top: rem(-50px);
          border-top: none;
        }
      }
    }
  }
}

@keyframes anim-lineUp {
  0% {
    opacity: 0;
    transform: translateY(80%);
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes slide-right {
  to {
    transform: translateX(0);
  }
}

@media screen and ( max-width: 768px) {
  .servicespage1_parentContainer {
    .servicespage1_gridContainer{
      .servicespage1_titleDiv {
        font-size: rem(48px);
      }
      .servicespage1_boxContainer{
        .servicepage1_boxTitle {
          font-size: rem(32px);
        }
      }
    }
  }
}
