@import "~sass-rem";

.servicespage5_parentContainer {
    display: flex;
    gap: 32px;

    .servicespage5_menu{
        max-width: rem(250px);
        width: 100%;
        padding: rem(20px);
        display: flex;
        gap: 20px;
        flex-direction: column;
        justify-content: center;
        height: calc(100vh - 90px);
        color: var(--off-white-100);
        position: sticky;
        top: 0px;
        &.fixed {
            position: fixed;
            top: 90px;
        }

        .menuItem {
            font-size: rem(17px);
            font-style: normal;
            font-weight: 500;
            line-height: 30px;
            transition: all 0.5s ease;
            position: relative;
            z-index: 1;

            &.active {
                color: var(--primary-100);
                &::before {
                    content: "";
                    position: absolute;
                    left: -23px;
                    top: -10px;
                    width: 48px;
                    height: 48px;
                    z-index: -1;
                    border-radius: 30px;
                    background-color: var(--off-white-100);
                    opacity: 0.12;
                }
            }
        }
    }

    .servicespage5_content{
        flex: 1;
        width: 100%;
    }
}

@media screen and (max-width: 996px) {
    .servicespage5_parentContainer {
        .servicespage5_menu {
            display: none;
        }
    }
}