@import "~sass-rem";

.servicespage2_parentContainer {
  padding: 0 rem(25px);

  .servicespage2_flexContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: rem(40px);
    .servicespage2_titleDiv {
      background: linear-gradient(92.15deg, #6164fa 0%, #2cd7e6 100%);
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;
      background-clip: text;
      letter-spacing: 0.04em;
      font-weight: 700;
      font-size: rem(58px);
      line-height: 1.2em;
    }
    .servicespage2_rightContainer {
      width: 45%;
      .servicespage2_paragraph {
        color: var(--off-gray);
        font-size: rem(20px);
        font-weight: 400;
      }
    }
  }

  .servicespage2_wrapper {
    width: 100%;
    overflow-x: hidden;
    // padding-left: rem(30px);
    // -webkit-overflow-scrolling: touch;
    // scroll-behavior: smooth;
    height: 400px;
    overflow-y: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }
    .servicespage2_slider {
      display: flex;
      gap: 40px;
      flex-wrap: nowrap;
      scroll-snap-align: x mandatory;
      max-width: 400px;
    }

    .slick-slider{
      .slider-wrapper{
        height: auto !important;
      }
  
      .slick-slide {
        top: 0;
        & > div {
          padding: rem(10px);
        }
        .servicespage2_boxContainer {
          border: 1px solid var(--gray-100);
          padding: rem(32px);
          // width: rem(375px);
          width: 93%;
          cursor: pointer;
          flex: 0 0 auto;
          height: rem(225px);
          transition: height 0.5s;
          -webkit-transition: height 0.5s;
          .servicespage2_iconPurple {
            display: none;
          }
          .servicespage2_boxText {
            font-size: rem(28px);
            color: var(--white);
            font-weight: 500;
            line-height: 48px;
          }
          .servicespage2_boxPara {
            display: none;
            font-size: rem(18px);
            color: var(--off-gray);
            margin-top: rem(4px);
            font-weight: 400;
            line-height: 30px;
            overflow: hidden;
          }
          &:hover {
            background-color: var(--dark-gray-100);
            border-width: 0 1px 1px 0;
            border-color: var(--dark-gray-100);
            border-style: solid;
            height: rem(400px);
            overflow: hidden;
            .servicespage2_iconPurple {
              display: block;
            }
            .servicespage2_iconWhite {
              display: none;
            }
            .servicepage2_Icon {
              path {
                stroke: var(--primary-100);
              }
            }
            .servicespage2_boxPara {
              display: block;
            }
          }
        }
      }
    } 
    .servicespage2_prev,
    .servicespage2_next {
      cursor: pointer;
      position: absolute;
      top: rem(300px);
      border-radius: 50%;
      background: rgba(28, 37, 49, 0.32);
      border: 2px solid var(--gray-100);
      font-weight: bold;
      font-size: rem(32px);
      transition: 0.6s ease;
      color: var(--white);
      &:hover {
        color: var(--primary-100);
        background: rgba(28, 37, 49, 0.48);
      }
    }

    .servicespage2_next {
      right: 12%;
      padding: rem(5px) rem(17px) rem(5px) rem(23px);
    }

    .servicespage2_prev {
      left: 12%;
      padding: 5px 19px 5px 20px;
    }

    /* On hover, add a semi-transparent black background */
  }

  .servicespage2_dotContainer {
    span.servicespage2_dotBorder {
      width: rem(24px);
      height: rem(24px);
      border: 1px solid var(--gray-100);
      cursor: pointer;
      display: block;
      border-radius: rem(24px);
      display: flex;
      justify-content: center;
      align-items: center;
      &.servicespage2_selectedDotBorder {
        border: 1px solid var(--primary-100);
      }
      div.servicespage2_dotContent {
        width: rem(18px);
        height: rem(18px);
        border-radius: rem(18px);
        &.servicespage2_selectedDotContent {
          background: var(--primary-100);
        }
      }
    }

    span.servicespage2_dotText {
      font-size: rem(18px);
    }

    .servicespage2_divider {
      width: 90%;
      border: 1px solid var(--gray-100);
    }
  }

  .slider {
    display: flex;
    flex-wrap: nowrap;
    scroll-snap-align: start;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.lineUp {
  animation: 2.5s anim-lineUp ease-out 1;
}

@media only screen and (max-width: 966px) {
  .servicespage2_parentContainer {
    padding: rem(25px) !important;
    .servicespage2_flexContainer{
      flex-direction: column;
      gap: 32px;
      .servicespage2_rightContainer{
        width: 100%;
        text-align: center;
      }
    }
    .servicespage2_gridContainer {
      display: flex !important;
      flex-direction: column;
      gap: 50px;
    }
  }
}

@keyframes anim-lineUp {
  0% {
    opacity: 0;
    transform: translateY(80%);
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes slide-right {
  to {
    transform: translateX(0);
  }
}
