@import "~sass-rem";

#herosection_parentContainer {
  // pointer-events: none;
  background-repeat: no-repeat;
  background-size: cover;
}

.herosection_parentContainer {

  height: calc(100vh - 91px);
  color: var(--off-white-100);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  // font style
  color: var(--off-white-100);
  font-family: "DM Sans", sans-serif;
  font-size: rem(75px);
  font-style: normal;
  font-weight: 700;
  line-height: 80px; /* 106.667% */
  text-transform: uppercase;
  text-align: center;

  .hero_text {
    margin-top: auto;
    margin-bottom: auto;

    .lineOne {
      font-family: "DM Sans Bold", sans-serif;
      font-size: rem(64px);
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 18px;
      flex-wrap: wrap;
      opacity: 0;
      animation-name: fadeIn;
      animation-delay: 1s;
      animation-duration: 0.5s;
      animation-timing-function: ease;
      animation-fill-mode: forwards;
  
      .animate {
  
        background-image: linear-gradient(271deg, #6164FA 0%, #2CD7E5 16%, #B62BF5 32%, #E52E2C 48%, #6164FA 64%, #E73BF3 100%);
        -webkit-background-clip: text; 
        background-clip: text; 
        color: transparent;
        background-size: 300%;
        background-position: -100%;  
        animation: animatedText 5s infinite alternate-reverse;
      
      }
    }
  
    .animated-line {
  
      margin: rem(40px) auto;
      font-size: rem(64px);
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 16px;
      animation: springLeft 1.5s ease-out forwards;
  
      & > h1 {
        background: linear-gradient(138deg, #6164FA 0%, #2CD7E5 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      
      }
      
      .fading-child {
      
        position: relative;
        width: rem(250px);
        height: rem(80px);
  
        h1 {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 8px;
          background: linear-gradient(147deg, #61FAC3 0%, #CEF33B 100%);
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          opacity: 0;
          position: absolute;
          
          &.animate {
            animation: fadeInOut 1.5s;
          }
  
          span {
  
            width: 1em;
            height: 1em;
            
            img {
            
              width: 100%;
              height: 100%;
            
            }
          }
        }
      }
    }
    
    .lineThree {
      font-family: "DM Sans Light", sans-serif;
      font-size: rem(64px);
      animation: springRight 1.5s ease-out forwards;
      font-weight: 100;
    }

  }

  .rating-wrapper {
    width: 100%;
    padding: 10px;
    & > p {
      font-size: rem(20px);
      font-style: normal;
      font-weight: 500;
      line-height: 30px;
    }

    .rating-box-wrapper {
      display: flex;
      justify-content: center;
      gap: 20px;
      margin-top: rem(48px);
      width: 100%;
      .rating-box {
        &::before {
          content: "";
          position: absolute;
          width: 98%;
          height: 95%;
          left: 50%;
          top: 50%;
          z-index: 1;
          transform: translate(-50%, -50%);
          background: linear-gradient(180deg, rgb(34, 41, 45) 0%, rgb(3, 9, 14) 100%);
        }
        max-width: 280px;
        max-height: 100px;
        position: relative;
        background: linear-gradient(180deg, #3f474d 0%, transparent 100%);
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 40px;

        & > img {
          position: relative;
          z-index: 2;
        }
      }
    }
  }
  
}

@keyframes fadeInOut {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@keyframes animatedText{
  to{
    background-position: 100%; 
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes springRight {
  0% { transform: translate3d(90%, -20%, 0px); }
  30% { transform: translate3d(-13%, 20%, 0); }
  60% { transform: translate3d(13%, -20%, 0); }
  100% { transform: none; }
}

@keyframes springLeft {
  0% { transform: translate3d(-90%, -20%, 0px); }
  30% { transform: translate3d(13%, 20%, 0); }
  60% { transform: translate3d(-13%, -20%, 0); }
  100% { transform: none; }
}

@media screen and (max-width: 1290px) {
  .herosection_parentContainer{ 
    .hero_text{
      .lineOne {
        font-size: rem(48px);
      }
      .animated-line {
        font-size: rem(48px);
      }
      .lineThree {
        font-size: rem(48px);
      }
    }
  }
}

@media screen and (max-width: 966px) {
  .herosection_parentContainer {
    height: calc(100vh - 78px);
    .hero_text{
      .lineOne {
        font-size: rem(42px);
      }
      .animated-line {
        font-size: rem(42px);
      }
      .lineThree {
        font-size: rem(42px);
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .herosection_parentContainer {
    .hero_text{
      .lineOne {
        font-size: rem(36px);
        line-height: rem(40px);
      }
      .animated-line {
        font-size: rem(36px);
        line-height: rem(40px);
        .fading-child {
          width: rem(160px);
          height: 1.1em;
          h1{
            span {
              height: 1em;
              width: 1em;
            }
          }
        }
      }
      .lineThree {
        font-size: rem(36px);
        line-height: rem(40px);
      }
    }
    .rating-wrapper {
      .rating-box-wrapper {
        gap: 10px;
        .rating-box {
          padding: 20px;
        }
      }
    }
  }
}