@import "~sass-rem";

.parentContainer {
  margin-left: rem(60px);
  padding-bottom: rem(40px);
  height: 100%;

  .mainTitleDiv {
    color: var(--off-white-100);
    letter-spacing: 0.02em;
    line-height: 48px;
    font-weight: 500;
    font-size: rem(32px);
    margin: rem(80px) 0 rem(80px) 0;
  }

  .imageContainer {
    position: relative;
    top: 24px;
    right: 55px;
  }
}

.lineUp {
  animation: 2s anim-lineUp ease-out 1;
}

@keyframes anim-lineUp {
  0% {
    opacity: 0;
    transform: translateY(80%);
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
