@import "~sass-rem";

.homepage5_parentContainer {
  padding-bottom: rem(40px);
  height: 100%;

  .homepage5_reviewDiv {
    color: var(--primary-100);
    text-transform: uppercase;
    letter-spacing: 0.8px;
    font-weight: 500;
    text-align: center;
    font-size: rem(20px);
    margin-top: rem(100px);
  }

  .homepage5_textContainer {
    color: var(--white);
    font-weight: 500;
    line-height: 2em;
    font-size: rem(62px);
    margin: rem(40px) 0 rem(80px) 0;
    text-align: center;

    .homepage5_imageBlock {
      position: relative;
      display: inline;
      top: rem(20px);
      cursor: pointer;
      .homepage5_placeholder_image {
        transition: all 0.2s ease-in-out;
      }
      .homepage5_tooltiptext {
        visibility: hidden;
        width: rem(300px);
        font-size: rem(12px);
        line-height: 1.5em;
        font-weight: 400;
        background-color: var(--dark-gray-100);
        color: var(--off-gray);
        text-align: left;
        border-radius: 6px;
        padding: rem(20px);
        position: absolute;
        z-index: 1;
        top: 120%;
        left: 60%;
        margin-left: rem(-60px);
        opacity: 0;
        transition: opacity 0.7s;
        .homepage5_doubleQuoteIcon {
          font-size: rem(24px);
          margin-bottom: rem(12px);
        }
      }
      .homepage5_tooltiptext::after {
        content: "";
        position: absolute;
        bottom: 100%;
        left: 10%;
        margin-left: rem(-10px);
        border-width: rem(10px);
        border-style: solid;
        border-color: transparent transparent var(--dark-gray-100) transparent;
      }
      &:hover {
        .homepage5_placeholder_image {
          transform: scale(1.15);
        }
        .homepage5_tooltiptext {
          visibility: visible;
          opacity: 1;
        }
      }
    }
  }
}

.homepage5_lineUp {
  animation: 2s anim-lineUp ease-out 1;
}

@keyframes anim-lineUp {
  0% {
    opacity: 0;
    transform: translateY(80%);
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
