@import "~sass-rem";

.homepage4_parentContainer {
  padding: 0 rem(25px) rem(30px) rem(25px);
  h4.homepage4_servicesHeading {
    text-align: center;
    margin: rem(50px) 0;
    font-weight: 700;
    background: linear-gradient(92.15deg, #6164fa 0%, #e73bf3 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-size: rem(60px);
    animation: 2s slide-right 1.5s forwards;
    transform: translateX(-150%);
  }
  .homepage4_boxContainer {
    display: flex;
    gap: 50px;
    align-items: center;
    margin-top: rem(60px);
    cursor: pointer;
    .homepage4_lottieContainer {
      opacity: 0;
    }
    &:hover {
      .homepage4_lottieContainer {
        transform: rotate(-25deg);
        opacity: 1 !important;
      }
      .homepage4_textContainer {
        padding: rem(24px) rem(32px);
        // margin-top: rem(18px);
        background-image: url("../../images/services.png");
        background-size: cover;
        background-repeat: no-repeat;
        border: 1px solid var(--gray-100);
        // p.homepage4_description {
        //   padding-bottom: rem(16px);
        // }
      }
    }
    .homepage4_textContainer {
      padding: 0 rem(32px) rem(24px) 0;
      border: 1px solid transparent;
      transition: all 0.4s ease-out;
      margin-top: 0;
      width: 100%;
      h4.homepage4_heading {
        font-size: rem(30px);
        color: var(--white);
        font-weight: 700;
      }
      p.homepage4_description {
        font-size: rem(16px);
        color: var(--off-gray);
        font-weight: 400;
        line-height: 25px;
      }
    }
  }
}

@keyframes slide-right {
  to {
    transform: translateX(0);
  }
}

@media screen and (max-width: 768px) {
  .homepage4_parentContainer {
    .homepage4_boxContainer {
      .homepage4_lottieContainer {
        opacity: 1;
      }
    }
  }
}

@media screen and (max-width: 570px) {
  .homepage4_parentContainer {
    .homepage4_boxContainer {
      flex-direction: column;
      .w-1\/5{
        width: 100%;
      }
      .homepage4_lottieContainer {
        opacity: 1;
      }
    }
  }
}
