.industryPage1_parentContainer {
    margin: 6.25rem 0 1.875rem 0;
    color: var(--off-white-100);

    h1{
        font-size: 64px;
        font-style: normal;
        font-weight: 700;
        line-height: 74px;
        span{
            color: var(--primary-100);
        }
        margin-bottom: 80px;
    }

    .cardsContainer{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0px 64px;
    }
}