.industryPageCard {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 568px;
    min-width: 298px;
    width: 100%;
    flex-direction: column;
    align-self: start;
    &:nth-child(2n-1){
        margin-top: 73px;
    }

    .cardImg{
        padding: 20px 20px 0px 20px;
        background-color: var(--dark-gray-100);
        max-height: 369px;
        overflow: hidden;
    }

    .content{
        .title {
            font-size: 48px;
            font-style: normal;
            font-weight: 700;
            line-height: 58px;
            margin-top: 48px;
        }

        .description {
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 27px;
            margin-top: 20px;
        }
    }
}