@import "~sass-rem";

.applyNow_wrapper {
    width: 100%;
    margin-top: rem-convert(120px);
    flex-wrap: wrap;
    display: flex;
    padding: 64px;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    background-color: var(--dark-gray-100);
    .extrasmall {
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0.8px;
        color: var(--primary-100);
    }
    .mainText {
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        line-height: 58px;
        text-align: center;

        .primary {
            color: var(--primary-100);
            cursor: pointer;
        }
    }
}
@media screen and (max-width: 768px) {
    .applyNow_wrapper{
        padding: 20px;
        gap: 30px;

        .mainText {
            font-size: rem-convert(24px);
            line-height: rem-convert(34px);
        }
    }
}
