@import "../../styles/mixins";
@import "~sass-rem";

.jobDescription3_parentContainer {
    margin: 6.25rem auto 1.875rem auto;
    color: var(--off-white-100);
    width: 95%;

    .jobDescription3_header{
        .section_title {
            color: var(--primary-100);
            font-size: rem(64px);
            font-style: normal;
            font-weight: 700;
            line-height: 74px;
            margin-bottom: rem(67px);
            transition: all 1s ease;
            transform: translateX(50%);
            &.slide {
                transform: translateX(0px)
            }
        }
    }

    .jobDescription3_bulletPoint {
        @include BulletPoint;
        align-items: flex-start;
        margin-bottom: rem(32px);

        .bulletPoint_data {
            font-size: rem(20px);
            font-style: italic;
            font-weight: 400;
            line-height: 30px;
        }
    }

    .applyNow_wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin-top: rem(120px);
        flex-wrap: wrap;
        .socialIcons_wrapper{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 12px;
            .socialIcon{
                cursor: pointer;
                border-radius: 24px;
                background: var(--dark-gray-100);
                width: 48px;
                height: 48px;
                padding: 8px;
                position: relative;
                svg{
                    z-index: 1;
                    position: relative;
                }
                &::before{
                    content: "";
                    position: absolute;
                    width: 0;
                    height: 0;
                    border-radius: 50%;
                    background: var(--primary-100);
                    top: 0;
                    left: 0;
                    right: 0;
                    margin: auto;
                    top: 50%;
                    transform: translateY(-50%);
                    transition: all 0.3s ease-in;
                }

                &:hover {
                    &::before {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .jobDescription3_parentContainer {
        .jobDescription3_header{
            .section_title {
                font-size: rem(42px);
            }
        }
    }
}