@import "../../styles/mixins";
@import "~sass-rem";

.jobDescription4_parentContainer {
    margin: 6.25rem rem(25px) 1.875rem rem(25px);
    color: var(--off-white-100);
    width: 95%;

    .jobDescription4_header{
        .section_title {
            color: var(--primary-100);
            font-size: rem(64px);
            font-style: normal;
            font-weight: 700;
            line-height: 74px;
            margin-bottom: rem(67px);
            transition: all 1s ease;
            transform: translateX(50%);
            &.slide {
                transform: translateX(0px)
            }
        }
    }

    .jobDescription4_bulletPoint {
        @include BulletPoint;
        align-items: flex-start;
        margin-bottom: rem(32px);

        .bulletPoint_data {
            font-size: rem(20px);
            font-style: italic;
            font-weight: 400;
            line-height: 30px;
        }
    }
}

@media screen and (max-width: 768px) {
    .jobDescription4_parentContainer {
        .jobDescription4_header{
            .section_title {
                font-size: rem(42px);
            }
        }
    }
}