@import "~sass-rem";
@import "../../styles/mixins";

.privacypolicypage_parentContainer {
  padding: 0 rem(25px) rem(30px) rem(25px);
  height: calc(100vh - 91px);
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;

  .privacypolicy_drodpownContainer {
    display: none;
  }

  .privacypolicypage_containerWidth {
    width: 58.3%;
  }

  &::-webkit-scrollbar {
    display: none;
  }

  .privacypolicypage_dataCollectionType {
    .privacypolicypage_dataCollectionTitle {
      color: var(--primary-100) !important;
    }
  }

  .privacypolicypage_cookiesDataUsage {
    .privacypolicypage_cookiesDataUsageTitle {
      color: var(--primary-100) !important;
    }
  }

  .privacypolicypage_disclosureOfData {
    .privacypolicypage_disclosureOfDataTitle {
      color: var(--primary-100) !important;
    }
  }

  .privacypolicypage_securityOfData {
    .privacypolicypage_securityOfDataTitle {
      color: var(--primary-100) !important;
    }
  }

  .privacypolicypage_contactUs {
    .privacypolicypage_contactUsTitle {
      color: var(--primary-100) !important;
    }
  }

  .privacypolicypage_tableOfContents {
    background-color: var(--dark-gray-100);
    color: 1px solid var(--gray-100);
    height: max-content;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    left: 0;
  }
}

@media screen and (max-width: 620px) {
  .privacypolicypage_parentContainer {
    padding: 0 rem(35px) rem(30px) rem(25px);

    .privacypolicy_drodpownContainer {
      display: block;
      margin: rem(40px) 0;
      position: sticky;
      top: 0px;
    }

    .privacypolicypage_containerWidth {
      width: unset;
    }
    .privacypolicypage_tableOfContents {
      display: none;
    }
  }
}
