.primary100 {
  color: var(--primary-100) !important;
}

.white {
  color: var(--white) !important;
}

.offGray {
  color: var(--off-gray) !important;
}

.offWhite100 {
  color: var(--off-white-100) !important;
}
