@mixin backgroundClip {
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@mixin BulletPoint {
  display: grid;
  grid-template-columns: 24px 1fr;
  align-items: center;
  gap: 12px;
}

@mixin lineUp {
  animation: 2s anim-lineUp ease-out 1;
}

@keyframes anim-lineUp {
  0% {
    opacity: 0;
    transform: translateY(80%);
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
