@mixin backgroundClip {
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@mixin BulletPoint {
  display: grid;
  grid-template-columns: 24px 1fr;
  align-items: center;
  gap: 12px;
}