.parallaxLayoutIndustry{
    overflow-y: scroll;
    height: 100%;
    position: relative;
    -ms-overflow-style: none;
    scrollbar-width: none;
    padding-top: calc(100vh - 90px);
    scroll-behavior: smooth;

    &::-webkit-scrollbar {
        display: none;
    }
}