.parallaxLayoutIndustry{
    overflow-y: scroll;
    height: 100%;
    position: relative;
    -ms-overflow-style: none;
    scrollbar-width: none;
    padding-top: 100vh;

    &::-webkit-scrollbar {
        display: none;
    }
}