.parallaxLayoutServices {
    overflow-y: scroll;
    height: 100%;
    position: relative;
    -ms-overflow-style: none;
    scrollbar-width: none;
    scroll-behavior: smooth;

    &::-webkit-scrollbar {
        display: none;
    }
}