.parallaxWorkLayout {
  position: relative;
  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-behavior: smooth;

  &::-webkit-scrollbar {
      display: none;
  }
  .wrapperContainer{
    overflow: unset;
  }
}