@import "~sass-rem";

.aboutPage1_parentContainer{
  margin: 6.25rem rem(25px) 1.875rem rem(25px);
  color: var(--off-white-100);
  width: 95%;
  background: var(--black-100);
  

  .aboutPage1_heading {
    font-size: rem(64px);
    font-style: normal;
    font-weight: 700;
    line-height: 74px;
    margin-bottom: rem(80px);
    animation: 2.5s anim-lineUp ease-out 1;
    span.blue {
      color: var(--primary-100);
    }
  }

  .companyDescription {
    display: grid;
    grid-template-columns: 1fr 2px 1fr;
    gap: 48px;
    align-items: center;
    .companyDescriptionText{
      font-size: rem(18px);
      font-style: normal;
      font-weight: 400;
      line-height: 27px; /* 150% */
      letter-spacing: 0.72px;
    }
    .divider{
      background: radial-gradient(180.06% 141.38% at 100.00% 0.00%, rgba(106, 108, 108, 0.00) 0%, #6A6C6C 50.31%, rgba(106, 108, 108, 0.00) 100%);
      width: rem(1px);
      height: rem(135px);
    }
  }

  .aboutPage1_hireUs_wrapper{
    position: relative;
    z-index: 3;
    .aboutPage1_hireUs {
      padding: 0px rem(29px) 0px rem(30px);
      border-radius: 96px;
      background: var(--primary-100);
      color: var(--white);
      font-size: rem(16px);
      width: rem(120px);
      height: rem(120px);
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      cursor: pointer;
      right: 200px;
      bottom: -198px;
      z-index: 2;
    }
  }

  .aboutPage1_carouselWrapper{
    width: 100%;
    overflow: hidden;
    position: relative;
    --v-offset: 60px;
    --curve-height: 120px;
    margin-top: 120px;
    
    &:before,
    &:after {
      content: "";
      display: block;
      background: var(--black-100);
      width: calc(100% + 2 * var(--v-offset));
      height: var(--curve-height);
      position: absolute;
      border-radius: 50%;
      left: calc(-1 * var(--v-offset));
      right: calc(-1 * var(--v-offset));
      z-index: 2;
    }
  
    &:before {
      top: calc(-0.6 * var(--curve-height));
    }
    &:after {
      bottom: calc(-0.6 * var(--curve-height));
    }
  }
  
  .wrapper {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 24px;
    overflow: auto;
    scroll-snap-type: x mandatory;
  
    img {
      scroll-snap-align: center;
      scroll-snap-align: center;
      height: 400px;
      min-width: 405px;
      animation: scrollHorizontally 20s linear infinite;
      z-index: 1;
    }
  }
}

@keyframes scrollHorizontally {
  from {
    transform: translatex(0%);
  }
  to {
    transform: translatex(-540%);
  }
  
}

@keyframes anim-lineUp {
    0% {
      opacity: 0;
      transform: translateY(80%);
    }
    20% {
      opacity: 0;
    }
    50% {
      opacity: 1;
      transform: translateY(0%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }

  @media screen and (max-width: 968px) {
    .aboutPage1_parentContainer{
      .aboutPage1_heading {
        font-size: rem(42px);
      }
      .companyDescription {
        grid-template-columns: 1fr;
        .divider{
          transform: rotateY(360deg);
          width: 135px;
          height: 1px;
          margin: 0 auto;
        }
      }

      .aboutPage1_hireUs_wrapper {
        .aboutPage1_hireUs{
          right: 50%;
        }
      }
      .aboutPage1_carousel {
        .aboutPage1_hireUs{
          right: -10px;
          top: -58px;
        }
      }
    }
  }