@import "~sass-rem";

.aboutPage1_parentContainer{
  margin: 6.25rem auto 1.875rem auto;
  color: var(--off-white-100);
  width: 95%;
  

  .aboutPage1_heading {
    font-size: rem(64px);
    font-style: normal;
    font-weight: 700;
    line-height: 74px;
    margin-bottom: rem(80px);
    animation: 2.5s anim-lineUp ease-out 1;
    span.blue {
      color: var(--primary-100);
    }
  }

  .companyDescription {
    display: grid;
    grid-template-columns: 1fr 2px 1fr;
    gap: 48px;
    align-items: center;
    .companyDescriptionText{
      font-size: rem(18px);
      font-style: normal;
      font-weight: 400;
      line-height: 27px; /* 150% */
      letter-spacing: 0.72px;
    }
    .divider{
      background: radial-gradient(180.06% 141.38% at 100.00% 0.00%, rgba(106, 108, 108, 0.00) 0%, #6A6C6C 50.31%, rgba(106, 108, 108, 0.00) 100%);
      width: rem(1px);
      height: rem(135px);
    }
  }

  .aboutPage1_carousel {
    max-width: calc(100vw - rem(40px));
    width: 100%;
    margin-top: rem(80px);
    position: relative;

    .aboutPage_hireUs{
      padding: 0px 1.8125rem 0px 1.875rem;
      border-radius: rem(96px);
      background: var(--primary-100);
      color: var(--white);
      font-size: 1rem;
      width: 7.5rem;
      height: 7.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      z-index: 1;
      right: -30px;
      top: -44px;
      cursor: pointer;
    }

    .slick-slider{

      .image_coniatiner{
        overflow: hidden;
        max-height: rem(438px);
        padding: rem(10px);
        .carouselImage{
          width: 100%;
        }
      }

    }

  }
}

@keyframes anim-lineUp {
    0% {
      opacity: 0;
      transform: translateY(80%);
    }
    20% {
      opacity: 0;
    }
    50% {
      opacity: 1;
      transform: translateY(0%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }

  @media screen and (max-width: 968px) {
    .aboutPage1_parentContainer{
      .companyDescription {
        grid-template-columns: 1fr;
        .divider{
          transform: rotateY(360deg);
          width: 135px;
          height: 1px;
          margin: 0 auto;
        }
      }
      .aboutPage1_carousel {
        .aboutPage_hireUs{
          right: -10px;
          top: -58px;
        }
      }
    }
  }