@import "~sass-rem";

.aboutPage2_parentContainer {
    color: var(--off-white-100);
    width: 95%;
    margin-top: rem(120px);
    margin-left: auto;
    margin-right: auto;
    
    .description {
        margin-bottom: rem(120px);
        .descriptionText {
            font-size: rem(32px);
            font-style: normal;
            font-weight: 500;
            line-height: rem(48px);
            margin-bottom: rem(64px);
        }
    }
    .companyStats{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        background: var(--black-100);
        margin: 0 auto;

        .stat {
            padding: rem(48px) rem(40px);
            display: flex;
            align-items: center;
            gap: 20px;
            border: 1px solid var(--gray-100);
                transition: 0.6s all ease;
            &:nth-child(n + 2){
                border-left: none;
            }
            &:hover {
                background-color: var(--dark-gray-100);
                padding: rem(12px) rem(44px) rem(44px) rem(44px);
            }

            .icon {
                max-width: 80px;
                svg {
                    width: 100%;
                    height: auto;
                }
            }

            .text {
                display: flex;
                flex-direction: column;
                gap: rem(16px);
                .statNumber {
                    font-size: rem(32px);
                    font-style: normal;
                    font-weight: 500;
                    line-height: rem(40px); 
                }
    
                .statLabel {
                    font-size: rem(18px);
                    font-style: normal;
                    font-weight: 400;
                    line-height: rem(24px);
                }
            }
        }
    }
}

@media screen and (max-width: 968px) {
    .aboutPage2_parentContainer {
        .companyStats{
            .stat {
                .statNumber {
                    font-size: rem(32px);
                }
                .statLabel {
                    font-size: rem(18px);
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .aboutPage2_parentContainer {
        .description {
            .descriptionText {
                font-size: rem(24px);
            }
        }
        .companyStats{
            grid-template-columns: 1fr;
            .stat {
                &:nth-child(n + 2){
                    border-top: none;
                    border-left: 1px solid var(--gray-100);
                }
                .statNumber {
                    font-size: rem(48px);
                }
                .statLabel {
                    font-size: rem(24px);
                }
            }
        }
    }
}