@import "~sass-rem";

.aboutPage1_parentContainer{
  margin: 6.25rem rem-convert(25px) 1.875rem rem-convert(25px);
  color: var(--off-white-100);
  width: 95%;

  .aboutPage1_heading {
    font-size: rem-convert(64px);
    font-style: normal;
    font-weight: 700;
    line-height: 74px;
    margin-bottom: rem-convert(80px);
    animation: 2.5s anim-lineUp ease-out 1;
    span.blue {
      color: var(--primary-100);
    }
  }

  .companyDescription {
    display: grid;
    grid-template-columns: 1fr;
    gap: 48px;
    align-items: center;
    .companyDescriptionText{
      font-size: rem-convert(32px);
      font-style: normal;
      font-weight: 400;
      line-height: 48px; /* 150% */
      letter-spacing: 0.72px;
      max-width: 1280px;
    }
  }

  .aboutPage1_carouselWrapper{
    width: 100%;
    overflow: hidden;
    position: relative;
    --v-offset: 60px;
    --curve-height: 120px;
    margin-top: 120px;

    &:before,
    &:after {
      content: "";
      display: block;
      background: var(--black-100);
      width: calc(100% + 2 * var(--v-offset));
      height: var(--curve-height);
      position: absolute;
      border-radius: 50%;
      left: calc(-1 * var(--v-offset));
      right: calc(-1 * var(--v-offset));
      z-index: 2;
    }

    &:before {
      top: calc(-0.6 * var(--curve-height));
    }
    &:after {
      bottom: calc(-0.6 * var(--curve-height));
    }
  }

  .wrapper {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 24px;
    overflow: auto;
    scroll-snap-type: x mandatory;

    img {
      scroll-snap-align: center;
      scroll-snap-align: center;
      height: 400px;
      min-width: 405px;
      animation: scrollHorizontally 20s linear infinite;
      z-index: 1;
    }
  }
}

@keyframes scrollHorizontally {
  from {
    transform: translatex(0%);
  }
  to {
    transform: translatex(-540%);
  }

}

@keyframes anim-lineUp {
    0% {
      opacity: 0;
      transform: translateY(80%);
    }
    20% {
      opacity: 0;
    }
    50% {
      opacity: 1;
      transform: translateY(0%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }

  @media screen and (max-width: 966px) {
    .aboutPage1_parentContainer{
      margin: 0;
      width: 100%;
      .aboutPage1_heading {
        font-size: rem-convert(42px);
        padding: 0px 16px;
      }
      .companyDescription {
        .companyDescriptionText{
          font-size: rem-convert(20px);
          line-height: rem-convert(30px);
          padding: 0px 16px;
        }
      }

      .aboutPage1_carousel {
        .aboutPage1_hireUs{
          right: -10px;
          top: -58px;
        }
      }
    }
  }

  @media screen and (max-width: 768px) {
    .aboutPage1_parentContainer{
      .aboutPage1_heading{
        font-size: rem-convert(48px);
        line-height: rem-convert(58px);
      }
      .wrapper {
        img {
          height: 300px;
          width: auto;
          min-width: 300px;
        }
      }
      .aboutPage1_heading {
        margin: 40px 0px;
      }
    }
  }
