@import "~sass-rem";

.aboutPage3_parentContainer {
  background: var(--black-100);
  width: 95%;
  margin: 0 auto;
  .aboutPage3_heading {
    background: linear-gradient(135deg, #6164fa 0%, #2cd7e5 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-size: rem(64px);
    font-style: normal;
    font-weight: 700;
    line-height: 73px;
    text-align: center;
    margin-bottom: rem(64px);
  }
}
