@import "~sass-rem";

#contact_parentContainer{
  background: var(--black-100);
  .contact_parentContainer {
    padding: rem(40px) rem(25px);
    color: var(--off-white-100);
    .contact_formWrapper {
      margin-bottom: rem(135px);
      margin-top: rem(80px);
      .contact_formHeading {
        font-size: rem(80px);
        font-style: normal;
        font-weight: 700;
        line-height: 80px;
        margin-bottom: rem(64px);
      }

      .flex_container {
        display: flex;
        width: 100%;

        .contact_formLeft {
          max-width: rem(320px);
          width: 95%;
          margin: 0 auto;
          .small_text{
            font-size: rem(18px);
            font-style: normal;
            font-weight: 400;
            line-height: 27px; /* 150% */
            letter-spacing: 0.72px;
          }
          .contact_formMailTo {
            color: var(--primary-100);
            font-size: rem(24px);
            font-style: normal;
            font-weight: 500;
            line-height: 36px; /* 150% */
            text-decoration-line: underline;
            margin-top: rem(12px);
          }
          .socialIcons_wrapper{
            display: flex;
            align-items: center;
            gap: 12px;
            margin-top: rem(48px);
            .icon_container{
                cursor: pointer;
                background-color: var(--dark-gray-100);
                border-radius: rem(24px);
                width: rem(48px);
                height: rem(48px);
                display: flex;
                justify-content: center;
                align-items: center;
            }
          }
        }

        .contact_formRight{
          flex: 1;
          .contact_formContainer{
            .contact_formField{
              display: flex;
              width: 100%;
              gap: rem(16px);
              align-items: center;
              margin-bottom: rem(40px);
              flex-wrap: wrap;
              &.column{
                flex-direction: column;
                align-items: flex-start;
              }
              .label{
                font-size: rem(24px);
                font-style: normal;
                font-weight: 500;
                line-height: 36px;
              }
              .inputBox{
                border: none;
                border-bottom: 1px solid var(--gray-100);
                background: transparent;
                font-size: rem(20px);
                font-style: italic;
                font-weight: 400;
                line-height: 30px;
                flex: 1;
                width: 100%;
                min-width: rem(250px);
                &:focus{
                  outline: none;
                  border-bottom: 1px solid var(--off-white-100);
                }
              }

              .optionWrapper{
                display: flex;
                gap: 16px;
                flex-wrap: wrap;

                .option {
                  
                  padding: rem(12px) rem(16px);
                  border-radius: rem(6px);
                  background: var(--off-white-100);
                  color: var(--primary-100);
  
                  &.active {
                    color: var(--off-white-100);
                    background: var(--primary-100);
                  }
  
                  .optionText {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 8px;
                    height: rem(21px);
                    overflow: hidden;
                    .animateUp{
                      transition: all 0.2s;
                    }
                  }
  
                  &:hover {
                    .optionText {
                      .animateUp {
                        transform: translateY(-33px);
                      }
                    }
                  }
                }
              }
            }

            .contact_formSubmit{
              display: flex;
              padding: rem(16px) rem(24px);
              justify-content: center;
              align-items: center;
              gap: 8px;
              border-radius: rem(6px);
              background: var(--primary-100);
              margin-top: rem(64px);
            }
          }
        }
      }
    }
  
    .contact_footer {
      display: flex;
      min-width: rem(1190px);
      justify-content: space-between;
      bottom: rem(30px);
      font-size: rem(16px);
      text-transform: uppercase;
      color: var(--off-white-100);
      .contact_footer_links {
        :hover {
          color: var(--primary-100);
        }
      }
    }
  }
}

@media screen and (max-width: 968px) {
  #contact_parentContainer{
    .contact_parentContainer {
      .contact_formWrapper {
        .flex_container {
          flex-direction: column;
          gap: 64px;
          .contact_formLeft {
            margin: 0;
          }
        }
      }
    }
  }
}