@import "~sass-rem";

#contact_parentContainer{
  // background: var(--black-100);
  z-index: unset;
  .contact_parentContainer {
    padding: rem(40px) rem(25px);
    color: var(--off-white-100);
    z-index: 1;
    position: relative;
    .contact_formWrapper {
      margin-bottom: rem(135px);
      margin-top: rem(80px);
      .contact_formHeading {
        font-size: rem(80px);
        font-style: normal;
        font-weight: 700;
        line-height: 80px;
        margin-bottom: rem(64px);
      }

      .flex_container {
        display: flex;
        width: 100%;
        justify-content: center;
        // text-align: center;

        .contact_formRight{
          flex: 1;
          .contact_formContainer{
            .contact_formField{
              display: flex;
              width: 100%;
              gap: rem(16px);
              align-items: center;
              margin-bottom: rem(40px);
              flex-wrap: wrap;
              &.column{
                flex-direction: column;
                align-items: flex-start;
              }
              .label{
                font-size: rem(24px);
                font-style: normal;
                font-weight: 500;
                line-height: 36px;
              }
              .inputBox{
                border: none;
                border-bottom: 1px solid var(--gray-100);
                background: transparent;
                font-size: rem(20px);
                font-style: italic;
                font-weight: 400;
                line-height: 30px;
                flex: 1;
                width: 100%;
                min-width: rem(250px);
                &:focus{
                  outline: none;
                  border-bottom: 1px solid var(--off-white-100);
                }
              }

              .optionWrapper{
                display: flex;
                gap: 16px;
                flex-wrap: wrap;

                .option {
                  
                  padding: rem(12px) rem(16px);
                  border-radius: rem(6px);
                  background: var(--off-white-100);
                  color: var(--primary-100);
  
                  &.active {
                    color: var(--off-white-100);
                    background: var(--primary-100);
                  }
  
                  .optionText {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 8px;
                    height: rem(21px);
                    overflow: hidden;
                    .animateUp{
                      transition: all 0.2s;
                    }
                  }
  
                  &:hover {
                    .optionText {
                      .animateUp {
                        transform: translateY(-33px);
                      }
                    }
                  }
                }
              }
            }

            .submitWrapper {
              display: flex;
              align-items: center;
              justify-content: flex-end;
              flex-wrap: wrap;
              gap: 32px;
              margin-top: rem(64px);

              .contact_formSubmit{
                display: flex;
                padding: rem(16px) rem(24px);
                justify-content: center;
                align-items: center;
                gap: 8px;
                border-radius: rem(6px);
                background: var(--primary-100);
                margin-right: auto;
              }
            }

          }
        }
      }
    }

    .contact_subFooter {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      margin-bottom: rem(50px);
      
      a {
        margin-left: 30px;
      }
      
      .link-wrapper {
        display: flex;
        gap: rem(16px);
        justify-content: center;
        align-items: center; 
        flex-wrap: wrap;
        margin-top: rem(50px);
        // margin-left: 30px;
      }
    }
    .contact_footer_links {
      p {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px  ;
        span.backToTop{
          transform: rotate(-90deg);
          padding: 8px;
          background: var(--primary-100);
          border-radius: 20px;
        }
      }
      :hover {
        color: var(--primary-100);
      }
    }
  
    .contact_footer {
      display: flex;
      justify-content: space-between;
      font-size: rem(16px);
      text-transform: uppercase;
      color: var(--off-white-100);
      align-items: center;
      .socialIcons_wrapper{
        display: flex;
        align-items: center;
        gap: 12px;
        // justify-content: center;
        .icon_container{
            cursor: pointer;
            background-color: var(--dark-gray-100);
            border-radius: rem(24px);
            width: rem(48px);
            height: rem(48px);
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            svg{
                z-index: 1;
                position: relative;
            }
            &::before{
                content: "";
                position: absolute;
                width: 0;
                height: 0;
                border-radius: 50%;
                background: var(--primary-100);
                top: 0;
                left: 0;
                right: 0;
                margin: auto;
                top: 50%;
                transform: translateY(-50%);
                transition: all 0.3s ease-in;
            }

            &:hover {
                &::before {
                    width: 100%;
                    height: 100%;
                }
            }
        }
      }
    }
  }
}

@media screen and (max-width: 968px) {
  #contact_parentContainer{
    .contact_parentContainer {
      .contact_formWrapper {
        .flex_container {
          flex-direction: column;
          gap: 64px;
          .contact_formLeft {
            margin: 0;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 580px) {
  #contact_parentContainer {
    .contact_parentContainer {
      .contact_subFooter {
        a {
          margin-left: auto;
          margin-right: auto;
        }
        .link-wrapper {
          gap: rem(12px);
        }
      }
      .contact_footer {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
      }
    }
  }
}