@import "~sass-rem";

.buttonContainer {
  display: flex;
  align-items: center;
  .button {
    position: relative;
    border: 0;
    display: inline-block;
    height: auto;
    cursor: pointer;
    outline: none;
    vertical-align: middle;
    background: transparent;

    &:hover {
      .circle {
        width: 100%;
      }
      .circleColorPrimary {
        width: 100%;
      }
      .buttonTextTransparent {
        color: var(--primary-100);
      }
    }

    .buttonText {
      padding: rem(11px) rem(24px);
      width: max-content;
      line-height: 1.6;
      letter-spacing: 0.04em;
      font-size: rem(16px);
      text-align: center;
      transition: all 0.4s ease-in-out;
      z-index: 1;
      position: relative;
    }

    .buttonTextPrimary {
      color: var(--off-white-100);
    }

    .buttonTextTransparent {
      color: var(--off-white-100);
    }

    .circle {
      display: block;
      margin: 0;
      width: 3rem;
      height: 3rem;
      border-radius: 1.625rem;
      transition: all 0.4s ease-in-out;
      position: absolute;
      z-index: 0;

      .icon {
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        background: var(--off-white-100);
      }
    }

    .circleColorPrimary {
      background-color: var(--primary-100);
    }

    .circleColorTransparent {
      background-color: var(--off-white-100);
      opacity: 0.12;
    }
  }
}

.lineUp {
  animation: 2s anim-lineUp ease-out 1;
}

@keyframes anim-lineUp {
  0% {
    opacity: 0;
    transform: translateY(80%);
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
