@import "~sass-rem";

.dashboardParentContainer {
  padding: 0 rem(25px) rem(40px) rem(25px);
  height: 100%;

  .softwareDiv {
    color: var(--primary-100);
    letter-spacing: 0.04em;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 20px;
    margin: rem(100px) 0 rem(30px) 0;
  }

  .mainTitleDashboardDiv {
    color: var(--off-white-100);
    letter-spacing: 0.04em;
    font-weight: 500;
    font-size: rem(52px);
    margin: 0 0 rem(80px) 0;
    width: 50%;
  }
}

.lineUp {
  animation: 2s anim-lineUp ease-out 1;
}

@keyframes anim-lineUp {
  0% {
    opacity: 0;
    transform: translateY(80%);
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
