@import "~sass-rem";

.header {
  position: sticky;
  top: 0;
  z-index: 99;
  border-bottom: 1px solid var(--dark-gray-100);
  background-color: var(--black-100);
  .wrapperContainer {
    display: grid;
    grid-template-columns: 1fr minmax(min-content, 1230px) 1fr;
    max-width: unset !important;
    .headerContainer {
      display: flex;
      justify-content: space-between;
      padding: rem-convert(25px) 0 rem-convert(17px) 0;
      text-decoration: none !important;
      .navBar {
        .burgerMenu {
          display: none;
        }
        .menuContainer {
          display: flex;
          gap: 33px;
          font-size: rem-convert(16px);
          align-items: center;
          a.menuLink {
            color: var(--off-white-100);
            text-decoration: none !important;

            display: flex;
            flex-direction: column;
            height: rem-convert(24px);
            overflow: hidden;
            div.activeSpan {
              margin-left: 0 !important;
            }
            span.withoutHover {
              display: block;
              margin-left: rem-convert(12px);
              text-transform: uppercase;
              transition: all 0.2s;
            }
            span.onHover {
              display: block;
              margin-left: rem-convert(12px);
              color: var(--primary-100);
              text-transform: uppercase;
              transition: all 0.2s;
            }
            &:hover {
              span.withoutHover {
                // display: none;
                transform: translateY(-24px);
              }
              span.onHover {
                transform: translateY(-24px);
              }
            }
          }
        }
      }
    }

    .burgerContainer {
      display: none;
    }
  }
}

a.activeMenuLink {
  color: var(--primary-100) !important;
}

@keyframes anim-lineUp {
  0% {
    opacity: 0;
    transform: translateY(0%);
  }
  20% {
    opacity: 1;
    transform: translateY(100%);
  }
  50% {
    opacity: 0;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@media only screen and (max-width: 966px) {
  .wrapperContainer {
    grid-template-columns: unset !important;
    .burgerContainer {
      display: block !important;
      a.menuLink {
        color: var(--off-white-100);
        background: var(--primary-100);
        text-decoration: unset;
      }
      animation: fadein 1s;
      div {
        text-align: center;
        padding: rem-convert(12px);
        border-bottom: 1px solid var(--gray-100);
        &:hover {
          opacity: 0.5;
        }
      }
    }
  }
  .boxContainer {
    padding: 0 25px;
    background-color: rgba(0, 0, 0, 0.7) !important;
    .headerContainer {
      .navBar {
        .burgerMenu {
          display: block !important;
          position: relative;
          bottom: 3px;
        }
      }
    }
  }

  .menuContainer {
    display: none !important;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
