@import "~sass-rem";

.header {
  position: sticky;
  top: 0;
  z-index: 99;
  border-bottom: 1px solid var(--dark-gray-100);
  background-color: var(--black-100);
  .headerContainer {
    display: flex;
    justify-content: space-between;
    padding: 25px 0 17px 0;
    text-decoration: none !important;
    .navBar {
      .burgerMenu {
        display: none;
      }
      .menuContainer {
        display: flex;
        gap: 33px;
        font-size: rem(16px);
        align-items: center;
        padding-right: rem(154px);
        a.menuLink {
          color: var(--off-white-100);
          text-decoration: none !important;
          div.activeSpan {
            margin-left: 0 !important;
          }
          span.withoutHover {
            display: block;
            margin-left: 12px;
            text-transform: uppercase;
          }
          span.onHover {
            display: none;
          }
          &:hover {
            span.withoutHover {
              display: none;
            }
            span.onHover {
              display: block;
              color: var(--primary-100);
              animation: 0.38s anim-lineUp ease-out 0.7s;
              margin-left: 12px;
              text-transform: uppercase;
            }
          }
        }
      }
    }
  }

  .burgerContainer {
    display: none;
  }
}

a.activeMenuLink {
  color: var(--primary-100) !important;
}

@keyframes anim-lineUp {
  0% {
    opacity: 0;
    transform: translateY(0%);
  }
  20% {
    opacity: 1;
    transform: translateY(100%);
  }
  50% {
    opacity: 0;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@media only screen and (max-width: 966px) {
  .wrapperContainer {
    grid-template-columns: unset !important;
    .burgerContainer {
      a.menuLink {
        color: var(--off-white-100);
        background: var(--primary-100);
        text-decoration: unset;
      }
      display: block;
      animation: fadein 1s;
      div {
        text-align: center;
        padding: 12px;
        background: var(--primary-100);
        border-bottom: 1px solid rgba(0, 0, 0, 0.7);
        &:hover {
          opacity: 0.5;
        }
      }
    }
  }
  .boxContainer {
    padding: 0 25px;
    background-color: rgba(0, 0, 0, 0.7) !important;
  }
  .headerContainer {
    .navBar {
      .burgerMenu {
        display: block !important;
        position: relative;
        bottom: 3px;
      }
    }
  }

  .menuContainer {
    display: none !important;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
