@import "~sass-rem";

.wrapperContainer {
  max-width: rem-convert(1280px);
  margin: 0 auto;
  overflow: unset;
  overflow-x: hidden;
  z-index: 1;
  position: relative;
}

.wrapperLeftContainer {
  display: grid;
  grid-template-columns: 17% 84%;
}
