@import "~sass-rem";

.wrapperContainer {
  max-width: rem(1280px);
  width: 98%;
  margin: 0 auto;
  overflow-x: hidden;
}

.wrapperLeftContainer {
  display: grid;
  grid-template-columns: 17% 84%;
}
