@import "~sass-rem";

.careerPage2_parentContainer {
  margin: 6.25rem auto 1.875rem auto;
  color: var(--off-white-100);
  width: 95%;

  .companyPerks {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background: var(--black-100);

    .perk {
      padding: rem(48px) rem(40px);
      display: flex;
      flex-direction: column;
      gap: rem(32px);
      border: 1px solid var(--gray-100);
      cursor: pointer;
      transition: 0.5s all ease;
      &:nth-child(n + 2) {
        border-left: none;
      }
      &:hover {
        background-color: var(--dark-gray-100);
        padding: rem(24px) rem(44px) rem(44px) rem(44px);
      }

      .perkLabel {
        font-size: rem(44px);
        font-style: normal;
        font-weight: 500;
        line-height: 58px;
      }
    }
  }
}

@media screen and (max-width: 960px) {
  .careerPage2_parentContainer {
    .companyPerks{
      grid-template-columns: 1fr;
      .perk{
        &:nth-child(n + 2) {
          border-top: none;
          border-left: 1px solid var(--gray-100);
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .careerPage2_parentContainer{
    .companyPerks {
      .perk {
        padding: 32px;
        .perkIcon {
          width: 32px;
        }
        .perkLabel {
          font-size: 32px;
        }
      }
    }
  }
}
