@import "~sass-rem";

.industryPageCard {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: rem-convert(568px);
    min-width: rem-convert(298px);
    width: 100%;
    flex-direction: column;
    align-self: start;
    &:nth-child(2n-1){
        margin-top: rem-convert(73px);
    }

    .cardImg{
        padding: rem-convert(20px) rem-convert(20px) 0px rem-convert(20px);
        background-color: var(--dark-gray-100);
        max-height: rem-convert(369px);
        overflow: hidden;
    }

    .content{
        .title {
            font-size: rem-convert(48px);
            font-style: normal;
            font-weight: 700;
            line-height: rem-convert(58px);
            margin-top: rem-convert(48px);
        }

        .description {
            font-size: rem-convert(18px);
            font-style: normal;
            font-weight: 400;
            line-height: 27px;
            margin-top: rem-convert(20px);
        }
    }
}

@media only screen and (max-width: 680px) {
    .industryPageCard {
        &:nth-child(2n-1){
            margin-top: 0;
        }
    }

}
