@import "~sass-rem";

.industryPage2_parentContainer {
  max-width: rem-convert(1230px);
  margin: rem-convert(120px) auto;
  h1.heading {
    font-size: rem-convert(64px);
    font-style: normal;
    font-weight: 700;
    line-height: 74px;
    text-align: center;
    background: linear-gradient(92.15deg, #6164fa 0%, #2cd7e6 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
  }
  .carousel .control-dots  {
    z-index: 3;
  }
}

@media screen and (max-width: 1410px) {
  .industryPage2_parentContainer {
    max-width: rem-convert(1100px);
  }
}
@media screen and (max-width: 1100px) {
  .industryPage2_parentContainer {
    max-width: rem-convert(600px);
  }
}
@media screen and (max-width: 620px) {
  .industryPage2_parentContainer {
    max-width: rem-convert(300px);
    h1.heading {
      font-size: rem-convert(48px);
    }
  }
}
