:root {
  // PRIMARY COLORS
  --primary-100: #6164fa;

  // WHITE

  --off-white-100: #f2f3ff;

  // gray
  --dark-gray-100: #1c2531;

  --black-100: #030d15;

  --gray-100: #6a6c6c;

  --white: #fff;

  --off-gray: #f0f0f0;

  --pink-100: #e73bf3;
}
