@import "~sass-rem";
@import "../../styles/mixins";

.workpage1_parentContainer {
  padding: 0 rem-convert(25px) rem-convert(60px) rem-convert(25px);
  h4.workpage1_title {
    font-size: rem-convert(60px);
    font-weight: 700;
    line-height: 80px;
    color: var(--white);
    margin: rem-convert(70px) 0;
    @include lineUp;
  }

  .workpage1_stack {
    padding-top: rem-convert(32px);
  }
}

@media screen and (max-width: 768px) {
  .workpage1_parentContainer {
    h4.workpage1_title {
      font-size: rem-convert(48px);
      line-height: rem-convert(58px);
    }
  }

}
